C:\Users\Nathan\Documents\GitHub\TimeTracker\env
C:\Users\Nathan\Documents\GitHub\TimeTracker\build
C:\Users\ABF1580\Desktop\Projects\Python\TimeTracker\build
C:\Users\ABF1580\Desktop\Projects\Python\TimeTracker\timetrackerenv
C:\Users\ABF1580\Desktop\Projects\Python\TimeTracker\env